.test {
  background: #064d82;
}
.test {
  background: #6b08e9;
}
.test {
  background: #fa9b8b;
}
.test {
  background: #5995a0;
}
.test {
  background: #355e51;
}
.test {
  background: #a1bca8;
}

------- .test {
  background: #d96e2d; // using for highlight
}
.test {
  background: #1b628c; //using for cta button
}
.test {
  background: #e2c79d;
}
.test {
  background: #9d8a68;
}
.test {
  background: #483f3a; // using for text
}
.test {
  background: #c5afa1;
}

.test {
  background: #333; // using for top navbar text color
}

.test_colors_From_Pics {
  background: #ff654d; // from pics
}
