.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #483f3a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo a {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #333;
}

.main {
  flex-grow: 1;
  padding: 2rem;
}

.hero {
  text-align: center;
  margin-bottom: 4rem;
}

.announcement {
  display: inline-block;
  background-color: #ff654d;
  color: #483f3a;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.highlight {
  color: #d96e2d;
}

.subtitle {
  font-size: 1.25rem;
  color: #9d8a68;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.cta {
  display: inline-block;
  background-color: #1b628c;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: #3d84ae;
}

.arrow {
  margin-left: 0.75rem;
}

.features {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center; /* to align the text in the center */
}

.features h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #333;
}

.features > p {
  color: #483f3a;
  margin-bottom: 2rem;
  max-width: 600px; /* Limit the width for better readability */
  margin-left: auto; /* Center the paragraph */
  margin-right: auto;
  font-size: 1.25rem;
}

.steps {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem; /* Add some space between the centered text and the steps */
}

.steps li {
  flex-basis: 30%;
  border-top: 2px solid #d96e2d;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stepImage {
  margin-bottom: 1rem;
}

.stepNumber {
  display: block;
  font-size: 0.875rem;
  font-weight: bolder;
  color: #1b628c;
  margin-bottom: 0.5rem;
}

.stepTitle {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.stepDescription {
  color: #483f3a;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #d96e2d;
  color: #e7e8e9;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.2);
}

/*Advanced Features Section */

.advancedFeatures {
  background-color: #fff;
  padding: 4rem 2rem;
  margin-top: 4rem;
}

.advancedFeatures h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #064d82;
}

.featureList {
  max-width: 1200px;
  margin: 0 auto;
}

.featureItem {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.featureItem:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.featureWYSIWYG,
.featureSubscriptions {
  flex-direction: row;
}

.featureAI,
.featurePaid {
  flex-direction: row-reverse;
}

.featureText {
  flex: 1;
  padding: 0 2rem;
  order: 2;
}

.featureImage {
  flex: 1;
  order: 1;
}

.featureImage img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.featureItem h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #6b08e9;
}

.featureItem p {
  color: #5995a0;
}

/* Media queries */
/* Media queries */
/* Media queries */
/* Media queries */

@media (max-width: 768px) {
  .steps {
    flex-direction: column;
  }

  .steps li {
    margin-bottom: 2rem;
  }

  .stepImage img {
    width: 150px;
    height: 150px;
  }

  .featureItem {
    flex-direction: column;
    text-align: center;
  }

  .featureText,
  .featureImage {
    padding: 0;
  }

  .featureImage {
    margin-bottom: 1rem;
  }

  .advancedFeatures {
    padding: 2rem 1rem;
  }

  .advancedFeatures h2 {
    font-size: 2rem;
  }
}
